* {
    box-sizing: border-box;

}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color:#FCF6FC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow:0px 0px 1px 1px rgba(1, 1, 1, 1.0);
    
}

img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*--------------Header----------*/

header {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 3rem);
    background-color: #FFFFFF;
    
}


.header__img--heart {
    grid-column: 2 / 6;
    grid-row: 5 / 9;
    z-index: 1;
}


.header__img--big {
    grid-column: 1 / 7;
    grid-row: 1 / 11;
}


.header__img--smalltop {
    grid-column: 7 / 13;
    grid-row: 1 / 6 ;
    background-color: #9E6D52;

}

.header__img--smallbot {
    grid-column: 7 / 13;
    grid-row: 6 / 11;
    background-color: #0A846E;
}

.header__menu {
    display: flex;
    grid-column: 1 / 13;
    grid-row: 11 / 12;
    justify-content:space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px 0;
    box-shadow:0px 0px 1px 1px rgba(1, 1, 1, 1.0);
    
    
}


.header__menu--text a {
    text-decoration: none;
    color: #0A846E;
    padding: 10px 15px;
    
}

/*--------Main--------*/
main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
    background-color: #FFFFFF;
    justify-content: center;
    
    
}

.main__title--text {
  display: flex;
  justify-self: center;
  align-self: center;
  grid-column: 3 / 11;
  color: #0A846E;
}

.main__paragraph--text {
    min-width: 100px;
    grid-column: 8 / 11;
    grid-row: 3 / 5;
}

.main__img--circle {
    display: flex;
    min-width: 8rem;
    height: fit-content;
    background-color: #0A846E;
    grid-row: 2 / 6;
    grid-column: 3 / 7;
    border-radius: 50%;   

}
    /*---------Buttons---------*/

    .button {
        border-radius: 5px;
    }

.button--extra-large {
    width: 100%;
    height: 50%;
    color: black;
    background-color: white;
    border: 1px solid grey;
    box-shadow:1px 1px 1px 1px rgba(1, 1, 1, 1.0);
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

 
.button--large {
    background-color: #0A846E;
    color: white;
    min-width: 100px;
    height: 2rem;
}


.button--small {
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 4px;
    
}

.button__main {
    grid-row: 6 / 7;
    grid-column: 11 / 12;
}

.button--card {
    grid-row: 4 / 4;
    grid-column: 3 / 4;
}
.button__aside {
    grid-row: 4;
    grid-column: 2 / 5;
}

.button__article {
    grid-row: 5 / 6;
    grid-column: 6 / 7;
    
}

.button__footer {
    grid-row: 6 ;
    grid-column: 1 / 4;
}
    /*-----------Article//Section---------------*/

article {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows:repeat(4, 1fr)
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:0px 0px 1px 1px rgba(1, 1, 1, 1.0);
    margin: 10px;
    min-width: 200px;
    
    
}



.article__text--left {
    display: flex;
    
}

.article__text--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.article__text--row .right-text {
    margin-left: auto;
    text-align: right;
}
.article__text--row .left-text {
    flex: 1;
    margin-left: auto;
    text-align: left;
}

.article__img {
    max-height: 200px;
    
    object-fit: cover;
    box-shadow:inset 0px 0px 0px 0px rgba(0, 1, 0, 0.1);
}

.section__box1 {
    grid-row: 1 / 3;
    grid-column: 1 / 4 ;
    
}

.section__box2 {
    grid-row: 1 / 3;
    grid-column: 5 / 8 ;
}
.section__box3 {
    grid-row: 1 / 3;
    grid-column: 9 / 12;
}
.section__box4 {
    grid-row: 3 / 5;
    grid-column: 1 / 4 ;
}
.section__box5 {
    grid-row: 3 / 5;
    grid-column: 5 / 8 ;
}
.section__box6 {
    grid-row: 3 / 5;
    grid-column: 9 / 12 ;
}

/*------------Aside------------------*/
aside {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #FFFFFF;
    
}

.aside__title--text {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-column: 3 / 11;
    color: #0A846E;
  }
  
  .aside__paragraph--text {
      min-width: 100px;
      grid-column: 2 / 5;
      grid-row: 2 / 5;
  }
  
  .aside__img--plant {
      height: 312px;
      width: 308px;
      background-color: #0A846E;
      grid-row: 2 / 5;
      grid-column: 8 / 12;
      border-radius: 50%;
  
  }

/*----------------Footer--------------*/

footer {
    max-width: 1000px;
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-rows:repeat(6, 8rem);
    grid-auto-columns: repeat(5, 8rem);

}

.footer__img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer__box {
    display: flex;
    grid-row: 1 /6;
    grid-column: 1 / 4;
    z-index: 1;
}

.footer__box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 6;
    grid-column: 1 / 4;
    z-index: 2;
    width: 50%;
   
    
}
.footer__box3 {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    grid-row: 5;
    grid-column: 1 / 4 ;
    z-index: 3;
    margin: 50px 0px 0px 0px;
    font-size: small;
    padding: 0;
    height: 50px;
    width: 50%
}

.footer__box3--img {

    height: 30px;
    width: 30px;
    margin-bottom: 10px;
}

.footer__box2--transparant {
    background-color: rgba(0, 0, 0, 0.70);
    color: white;
    
}

.footer__box3--transparant {
    display: flex;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
}

.footer__button {
    width: 100%;
    height: 50%;
    grid-row: 6 ;
    grid-column: 1 / 4;
    background-color:#FFFFFF;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid grey;
    box-shadow:1px 1px 1px 1px rgba(1, 1, 1, 1.0);
}




/*------------------------------Page 2-------------------------------------------------------------------*/

/*----------Header-2---Page 2----------*/


.header-sida2 {
max-width: 1000px;
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: auto;
background-color: #FFFFFF;

}

.header-sida2__img {
   grid-column: 1 / 13;
   grid-row: 1 / 9;
}

.header-sida2__form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 13;
    
}

.header-sida2__fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 0px;
}
.header-sida2__fieldset--input {
    width: 100%;
}


.header__sida2--button {
    display: flex;
    flex: 1;
    justify-self: center;
    align-self: center;
}


.header-sida2--planta {
width: 200px;
}

.header-sida2--Datum {
width: 200px;
}





.header-2--button {
    grid-row: 3;
    grid-column: 6 / 8;
    align-self: center;

}



/*--------------Main-sida-2----------------------*/




.main-sida2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-sida2--maintext {
    margin-bottom: 20px;
}

.main-sida2__box-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-sida2__box-1 {
   flex: 1;
   align-self: flex-start;
}


/*---------------------------Footer-sida2-------------------------*/


.footer-sida2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    width: 100%;
    height: 100%;

    

}


.footer-sida2__box-container {
display: flex;
    flex-direction: row;
    grid-row: 1 / 3;
    grid-column: 1 / 5;
    gap:1rem;
    border: 2rem solid #9E6D52;
    background-color: #9E6D52;
}

.button__footer-sida2 {
    grid-row: 3;
    grid-column: 1 / 4;
    
    
}

















/*--------------------------Media------------------------*/
@media only screen and (max-width: 600px) {

  /*------------Header----------*/
    .header__img--heart {
        grid-column: 6 / 8;
        grid-row: 3 / 4;
        
    }
    
    
    .header__img--big {
        grid-column: 1 / 13;
        grid-row: 1 / 6;
    }
    
    
    .header__img--smalltop {
        grid-column: 1 / 7;
        grid-row: 6 / 11 ;
        
    
    }
    
    .header__img--smallbot {
        grid-column: 7 / 13;
        grid-row: 6 / 11;
        
    }
    
    .header__menu {
       
        grid-column: 1 / 13;
        grid-row: 11 / 12;
       
    
        
    }

/*------------Main----------*/

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

      .main__title--text,  
      .main__paragraph--text,  
      .main__img--circle {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 4rem;
        margin: 20px;
         
        
      
      }

/*---------------Buttons------------*/

 
.button__main {
    grid-row: 5 / 6;
    grid-column: 5 / 7;
}

.button--card {
    grid-row: 4 / 4;
    grid-column: 3 / 4;
}


.button__article {
    grid-row: 8 / 6;
    grid-column: 7 / 7;
    
}

.button__footer {
    grid-row: 6 ;
    grid-column: 1 / 4;



}

 /*-----------Article//Section---------------*/

.article__text--left {
    display: flex;
    
}


.section__box1 {
    grid-row: 1 / 2;
    grid-column: 1 / 6 ;
    
}

.section__box2 {
    grid-row: 1 / 2 ;
    grid-column: 7 / 12 ;
    
}
.section__box3 {
    grid-row: 2 / 3;
    grid-column: 1 / 6;
}
.section__box4 {
    grid-row: 2 / 3;
    grid-column: 7 / 12 ;
}
.section__box5 {
    grid-row: 3 / 4;
    grid-column: 1 / 6 ;
}
.section__box6 {
    grid-row: 3 / 4;
    grid-column: 7 / 12 ;
}


/*------------Aside------------------*/

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    .button__aside,
    .aside__title--text,
    .aside__paragraph--text 
    .aside__img--plant {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 20px;
        width: 80%;
    }
     

  /*----------------Footer--------------*/

.footer__img {
    
}

.footer__box {
    grid-row: 1 /6;
    grid-column: 1 / 4;
}

.footer__box2 {
   
    grid-row: 3 / 6;
    grid-column: 1 / 4;
    width: 100%;
   
    
}
.footer__box3 {
    width: 100%;
    grid-row: 5;
    grid-column: 1 / 4 ;
    
    
}


.footer__button {
  
    grid-row: 6 ;
    grid-column: 1 / 4;
   
}

}